{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <head>
        <!-- Fontes Personalizadas -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Press+Start+2P&display=swap" rel="stylesheet">
        <h1 class="black-text text-center text-center">
            About:
        </h1>
        <p></p>
    </head>
    <body>
        <div class="d-flex justify-content-center vh-30">
            <div class="overlay-background text-center p-4 green rounded shadow">
                <h4 class="black-text"> 
                    This is a experimental application that allows you to use any RTSP link at your disposal to get face recognition events.
                    <p></p>
                    <p></p>
                     It's in a very early stage, so it might be buggy and not very precise with face patterns.
                     
                </h4>
            </div>
        </div>
    </body>
</div>
{% endblock %}
